{% extends "layout.html" %}

{% block title %}Forecast Chart{% endblock %}

{% block content %}
    <body>

        <colgroup>
            <br></br>
            <h1 class="mb-4">LIME</h1>
            <col style="width: auto;">
            <!-- Add col elements for each column if needed -->
        </colgroup>
        {% for i in shap_plots: %}
        <iframe srcdoc="{{ shap_plots[i] }}" style="width: 100%; height: 200px; border: none;"></iframe>
        {% endfor %}


    </body>
{% endblock %}
